.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.logo {
    color: var(--accent-color);
    font-family: 'Raleway', cursive;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
}
.title {
    color: var(--color-link);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}