.container-box {
    display: flex;
    align-items: baseline;
    gap: 86.9px;

}
.container.footer__section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.footer {
    background-color: var(--color-fon);
    padding: 60px 0;
    margin-top: 0;

&__logo {
    display: block;
    margin-bottom: 20px;


&--color {
    color: var(--color-caption);
}
}

&__connection {
    margin-bottom: 9px;
}

&__connection:last-child {
    margin-bottom: 0;
}

&__address {
    color: var(--color-caption);
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__address:hover,
&__address:focus {
    color: var(--accent-color);
}

&__link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover,
.footer__link:focus {
    color: var(--accent-color);
}

&__contact {
    flex-direction: column;
}


&__social {
    display: flex;
    flex-direction: column;
}

&__title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-caption);
}


&__writing {
    display: flex;
    justify-content: end;
}

&__input {
    width: 358px;
    height: 50px;
    background-color: var(--color-fon);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

&__form {
    display: flex;
}

&__icon {
    fill: var(--color-caption);

}

&-button {
    color: var(--color-caption);
    background-color: var(--accent-color);
    border: 0;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    @extend %flex-centered;
    gap: 10px;
    border: none;
    margin-left: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 28px 10px 28px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

&-button:hover,
&-button:focus {
    color: var(--color-caption);
    background-color: var(--focus-button);
}

&-button:active {
    color: var(--color-caption);
    background-color: var(--accent-color);
}
}