
.mobil-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding: 48px 48px 48px 40px;
    background-color: var(--color-caption);
    z-index: 1;

    &.is-open {
        display: block;
    }

    &__close-button {
        position: absolute;
        top: 21px;
        right: 25px;
        background-color: var(--color-caption);
        border: none;
    }
    &__icon {
        fill: var(--color-link)
    }
.container.mobil {
    position: absolute;
    width: 480px;
    height: 796px;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: var(--color-caption);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}

