.photo {
    display: flex;
    gap: 30px;


&__heading {
    color: var(--color-link);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    margin-top: 0;
}



&__lead {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    margin-top: 10px;
    padding-bottom: 0;
    align-items: center;
}

&__card {
    text-align: center;
    padding: 30px;
}

&__list {
    background-color: var(--color-caption);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

&__icon {
    fill: var(--icon-color);
}

&__social {
@extend %flex-centered;
    gap: 10px;
    margin-top: 16px;
}

&__link {
@extend %flex-centered;
    width: 44px;
    height: 44px;
    gap: 10px;
    margin-top: 16px;
    border-radius: 50%;
    background-color: var(--color-caption);
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover,
&__link:focus {
    background-color: var(--accent-color);
}

.photo__link:hover .photo__icon {
    fill: var(--color-caption);
}

.photo__link:focus .photo__icon {
    fill: var(--color-caption);
}
}