.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;


&__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 30px;
    flex-basis: calc((100% - 60px)/3);

}

&__title {
    color: var(--color-link);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    margin-top: 0;
}

&__text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    margin-top: 10px;
    padding-bottom: 0;
}

&__element {
    padding: 30px;
    border-top: none;
    border: 1px solid #EEEEEE;
}

&__card {
    position: relative;
    overflow: hidden;
}

&__link {
    display: block;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover,
&__link:focus {
    background: var(--color-caption);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

&__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.55;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--color-caption);
    padding: 63px 24px;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio__link:hover .portfolio__description {
    transform: translateY(0);
}

.portfolio__link:focus .portfolio__description {
    transform: translateY(0);
}
&__buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 33px;
}

&__btn {
    color: var(--color-link);
    background-color: var(--fon-button);
    border: 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;

    padding: 6px 22px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

&__btn:hover,
&__btn:focus {
    color: var(--color-caption);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.8),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
}