.primary-button {
    color: var(--color-caption);
    background-color: var(--accent-color);
    border: 0;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    display: inline-block;
    min-width: 218px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;


&-button:hover,
&-button:focus {
    color: var(--color-caption);
    background-color: var(--focus-button);
}

&-button:active {
    color: var(--color-caption);
    background-color: var(--accent-color);
}
}