.section {
    background-color: var(--color-caption);
    padding-top: 94px;
    padding-bottom: 94px;


&__title {
    color: var(--color-link);
    line-height: 1.17;
    margin-top: 0;
    margin-bottom: 10px;
}

&__text {
    color: var(--primary-text-color);
    font-weight: 400;
    line-height: 1.71;
}

&__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
}

&__icon {
@extend %flex-centered;
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: center;
    background: var(--fon-button);
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 30px;
}

&__item {
    width: 270px;
}
}